:host {
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 64px 4px;
  max-width: 1600px;
  margin: 0 auto;
}


